form {
    display: block;
}

input, textarea {
    padding: 6px;
    width: 190px;
    color: #777;
    border: #DDD solid 1px;
    border-radius: 4px;
}

form > div {
    overflow: auto;
}

label {
    font-size: 10pt;
    display: block;
    font-weight: bold;
    float: left;
    width: 47%;
    max-width: 130px;
    text-align: right;
    padding: 14px 3% 0 0;
}

form div div {
    float: left;
    width: 50%;
    padding: 10px 0 10px 0%;
}

.submit {
    padding:18px 0;
}

.submit .button {
    width:auto;
    font-weight: bold;
    padding: 6px 20px;
    color:#111;
    background: #F2F2F2;
    text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
    border: #EEE outset 2px;
    margin-right: 3px;
}