
#header {
    @include graded(#FFF, #F2F2F2);
}

#header h1 {
    font-size: 22pt;
    padding: 30px 12px 12px;
    text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
}

.page-container {
    margin:0 auto;
    max-width: 800px;
    width:90%;
}

#content-wrapper {
    background: #FFF;
    border:#F2F2F2 solid 5px;
    position:relative;
    min-height: 300px;
    box-shadow: rgba(0, 0, 0, .03) 1px 1px 10px 4px;
}

#content {
    padding: 20px 220px 20px 20px;
}

#side-column {
    height: 200px;
    position: absolute;
    width: 200px;
    top: 0;
    right: 0;
}

.page {
    display: none;
}